
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<h2>Test3</h2>

<button class="btn btn-success" id="btn1"> butotoowedf</button>

<script>
    $('#btn1').click(function () {
        swal("Merhaba dunyalar güzeli");
    });
</script>